<div class="sidebar">
    <img src="https://image.freepik.com/free-vector/people-talk-each-other-businessmen-discuss-social-network-friends-chat-with-dialog-speech-bubbles-modern-illustration-style_189033-205.jpg">
    <div style="text-align: center; font-size: 1em;margin-bottom: 5px;">Welcome to Reddit </div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Subreddit</button>
    </div>
</div>